.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gameboard {
  background-color: yellow;
  display: inline-block;
  margin: 0 auto;
  margin-top: 100px;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.col.red {
  background: red;
  cursor: default;
}
.col.black {
  background: black;
  cursor: default;
}
.next-red {
  background-color: rgba(255,0,0,0.2);
}
.next-black {
  background-color: rgba(0, 0, 0, 0.2);
}
